@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: antiquewhite;
  color: #363636;
}
/**************************************************/
/*-------------GENERAL style ELEMENTS-------------*/
body,
ul,
figure,
h1,
h2,
h3,
a,
p {
  margin: 0;
  padding: 0;
}

/* HIDE ELEMENTS*/
.hide-elements {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h2,
h3 {
  font-size: 0.9rem;
  margin: 0;
}

p {
  font-size: 0.8rem;
}

img {
  width: 100%;
}
header,
footer {
  text-align: center;
}

header > h1 {
  color: #46754d;
}

main {
  display: flex;
  justify-content: center;
}

#map {
  max-width: 40rem;
  height: 400px;
  border: 1px solid black;
  overflow: hidden;
}

main > section:nth-of-type(2) {
  margin-top: 2em;
}
#cards-container {
  max-width: 40rem;
  display: grid;
  grid-template-columns: 15rem 15rem;
}

#cards-container > div {
  margin: 0.5rem;
  background: #e5d3bb;
}

#cards-container > div > h2 {
  margin-bottom: 1rem;
}
#cards-container > div {
  padding-bottom: 1em;
}
#cards-container > div > h2,
p {
  padding: 0 1rem;
}
