@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: antiquewhite;
  color: #363636;
}

/**************************************************/
/*-------------GENERAL style ELEMENTS-------------*/
body,
ul,
figure,
h1,
h2,
h3,
a,
p {
  margin: 0;
  padding: 0;
}

/* HIDE ELEMENTS*/
.hide-elements {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h2,
h3 {
  font-size: 0.9rem;
  margin: 0;
}

p {
  font-size: 0.8rem;
}

img {
  width: 100%;
}

header,
footer {
  text-align: center;
}

header{
  margin-bottom:2rem;
}

header>h1 {
  color: #545654;
}

main {
  display: grid;
  justify-content: center;
}

#grafiek {
  display: flex;
}

.p-padding{
  margin-bottom:2rem;
}

.tooltip {
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-align: start;
}

.tooltip img {
  width: unset;
  max-width: 300px;
}

.tooltip p {
  width: 300px;
  padding: 0.3rem 1rem 0.3rem 1rem;
  font-weight: bold;
}

.tooltip p:last-of-type {
  font-weight: 400;
  padding-top: 0;
}

main>section:nth-of-type(2) {
  margin-top: 2em;
}

main section {
  min-height: 50vh;
  width: 100%;
}

.barchart-tooltip {
  width: 300px;
  pointer-events: none;
  position: absolute;
  background: #e5d3bb;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #363636;
  text-align: start;
}

.barchart-tooltip p {
  padding: 0.3rem 1rem 0.3rem 1rem;
}